main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
    flex-wrap: wrap;
}
  .container img{
   border-radius: 10px;
   transition: 0.9s ease-in-out;
 }
 .container img:hover{
    border: 3px solid ;
    width: 339px;
    transition: 0.9s ease-in-out;
 }

 .container{
    position: relative;
 }
 .descricao {
    position: absolute;
    color: white;
    bottom: 43px;
    margin-left: 26px;
 }
.descricao h2{
    margin-bottom: 5px;
}

@media (max-width:687px){
    main{
        gap: 10px;
    }
    .rome{
        padding-top: 45px;
    }
    .starry{
       padding-bottom: 35px;
    }
}
 